.page__tem__wrap {
  display: block;
}

.page__tem__wrap:after {
  content: '';
  clear: both;
  display: block;
}

.page__tem__wrap > section {
  width: calc(50% - 18px);
  margin-top: 24px;
  margin-left: 18px;
  -webkit-transform: translateX(-9px);
}

.page__tem__wrap > section:nth-of-type(n) {
  float: left;
}

.page__tem__wrap > section:nth-of-type(2n) {
  float: right;
}

.detail__section {
  padding: 0px !important;
  overflow: hidden;
}

.title__bar {
  padding: 16px 24px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 16px 16px 0 0;
}

.section__content {
  height: 0px;
  padding: 0px;
  overflow: hidden;
  -webkit-transition: all 0.25s ease-in-out 0s;
}

.section__content > div {
  padding: 16px 24px;
  box-sizing: border-box;
}

/* .section__content {
  padding: 16px;
}

.section__content__active {
  padding: 16px;
  height: auto;
} */

.title__bar:hover {
  background: rgb(235, 235, 235);
}

.arrow__btn {
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -webkit-transform: rotate(180deg);
}

.arrow__btn:after {
  position: absolute;
  left: 42%;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
  content: '';
  display: block;
  width: 40%;
  height: 4px;
  background: var(--main-color);
  border-radius: 100px;
}

.arrow__btn::before {
  position: absolute;
  right: 42%;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  content: '';
  display: block;
  width: 40%;
  height: 4px;
  background: var(--main-color);
  border-radius: 100px;
}

.list__item {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #f1f1f1;
  box-sizing: border-box;
}

.list__item > p {
  font-size: 1rem;
  opacity: 0.5;
  margin-bottom: 16px;
}

.list__item > p > span {
  font-size: 0.8rem;
  opacity: 0.6;
}

.list__item:last-of-type {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: none;
}

.color__item__wrap {
  display: flex;
}

.color__item__wrap > li {
  border-radius: 100px;
  width: 40px;
  height: 40px;
  margin-right: 25px;
  cursor: pointer;
  position: relative;
}

.color__item__wrap > li:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 3px;
  width: 101%;
  height: 101%;
  z-index: 2;
  border-radius: 20px;
}

.color__item__wrap > li:active {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.02);
}

.color__item__wrap > li:active:after {
  box-shadow: inset 0px -2px 5px white, inset 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.color__item__wrap > li > span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.color__item__wrap > li > span:after {
  position: absolute;
  left: 32%;
  top: 48%;
  -webkit-transform: rotate(45deg) scaleX(0);
  -webkit-transform-origin: 0 0;
  content: '';
  display: block;
  width: 30%;
  height: 4px;
  background: white;
  border-radius: 100px;
  -webkit-transition: all 0.1s ease-in-out 0s;
}

.color__item__wrap > li > span:before {
  position: absolute;
  left: 42%;
  top: 70%;
  -webkit-transform: rotate(-55deg) scaleX(0);
  -webkit-transform-origin: 0 0;
  content: '';
  display: block;
  width: 50%;
  height: 4px;
  background: white;
  border-radius: 100px;
  -webkit-transition: all 0.1s ease-in-out 0.1s;
}

.selected__color > span:after {
  -webkit-transform: rotate(45deg) scaleX(1) !important;
}

.selected__color > span:before {
  -webkit-transform: rotate(-55deg) scaleX(1) !important;
}

.selected__color {
  background: white;
}

.color__item__wrap > li:last-child {
  margin-right: 0px;
}

.file__status {
  display: flex;
  margin-top: 16px;
  align-items: center;
  justify-content: space-between;
}

.file__status > p {
  font-size: 1rem;
  opacity: 0.5;
}

.remove__btn {
  position: relative;
  display: block;
  max-width: 28px;
  max-height: 28px;
  min-width: 28px;
  min-height: 28px;
  cursor: pointer;
  border-radius: 8px;
  background: rgb(231, 231, 231);
}

.remove__btn:hover {
  background: rgb(243, 8, 8);
}

.remove__btn:hover:after,
.remove__btn:hover::before {
  background: rgb(240, 240, 240);
}

.remove__btn:after {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  content: '';
  display: block;
  width: 65%;
  height: 4px;
  background: #b6b6b6;
  border-radius: 100px;
}

.remove__btn:before {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  content: '';
  display: block;
  width: 65%;
  height: 4px;
  background: #b6b6b6;
  border-radius: 100px;
}

.sns__item > .remove__btn {
  margin-left: 16px;
}

.thumbnail__img__box {
  border: 1px solid rgb(219, 219, 219);
  background: #fafafa;
  box-sizing: border-box;
  height: 220px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.thumbnail__img__box > img {
  min-width: 400px;
  max-width: 400px;
  max-height: 200px;
  min-height: 200px;
  margin: 0 auto;
}

.profile__img__box {
  border: 1px solid rgb(219, 219, 219);
  background: #fafafa;
  box-sizing: border-box;
  height: 160px;
  width: 160px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 100px;
}

.profile__img__box > img {
  min-width: 140px;
  max-width: 140px;
  max-height: 140px;
  min-height: 140px;
  margin: 0 auto;
  border-radius: 100px;
}

.sns__selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.sns__selector > button {
  margin-left: 16px;
}

.sns__selector:last-of-type {
  margin-bottom: 0px;
}

.profile__icon__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__icon__list > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48%;
}

.profile__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 54px;
  min-height: 54px;
  max-width: 54px;
  max-height: 54px;
  padding: 12px;
  box-sizing: border-box;
}

.profile__icon > img {
  width: 90%;
  height: 90%;
}

.sns__item {
  margin-bottom: 16px;
}

.sns__item:last-of-type {
  margin-bottom: 0px;
}

.sns__item > div:first-of-type {
  width: 30%;
}

.sns__item > div:nth-of-type(2) {
  width: 60%;
  margin-left: 16px;
}

.work__item__poster {
  width: 70px;
  border: 1px solid rgb(219, 219, 219);
  margin-right: 6px;
}

.work__item:nth-of-type(2) {
  margin-top: 24px;
}

.work__item__poster {
  margin: 0 16px;
}

.work__item__poster > img {
  width: 100%;
}

.work__info__wrap {
  width: 100%;
}

.work__info__wrap > li:first-of-type {
  font-size: 1rem;
  margin-bottom: 8px;
  color: rgb(77, 79, 83);
}

.work__info__wrap > li:nth-of-type(2) {
  font-size: 0.9rem;
  color: #6b7280;
}

.work__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modify__btn {
  margin-right: 12px;
}

.work__btn__wrap {
  margin-left: 16px;
  display: flex;
}

.work__order {
  font-size: 1.4rem;
  color: rgb(77, 79, 83);
}

@media (max-width: 800px) {
  .page__tem__wrap > section {
    width: 100%;
    margin-left: 0px;
    -webkit-transform: translateX(0px);
  }

  .thumbnail__img__box {
    height: 160px;
    width: 100%;
  }

  .thumbnail__img__box > img {
    min-width: 300px;
    max-width: 300px;
    min-height: 150px;
    max-height: 150px;
  }

  .profile__img__box {
    height: 140px;
    width: 140px;
  }

  .profile__img__box > img {
    min-width: 120px;
    max-width: 120px;
    max-height: 120px;
    min-height: 120px;
    margin: 0 auto;
  }

  .flex__row {
    flex-direction: row;
    align-items: center;
  }

  .flex__row > div:first-of-type {
    margin-bottom: 0px;
  }

  .profile__icon {
    min-width: 46px;
    min-height: 46px;
    max-width: 46px;
    max-height: 46px;
    padding: 8px;
  }

  .list__item > p > span {
    font-size: 0.7rem;
  }
}
