.status__box dd {
  font-size: 1rem;
}

.status__box:first-of-type dt {
  color: #4e84f0;
}

.status__box:first-of-type dd {
  color: #4e84f0;
}

.status__box:nth-of-type(2) dt {
  color: #00c39f;
}

.status__box:nth-of-type(2) dd {
  color: #00c39f;
}

.status__box:nth-of-type(3) dt {
  color: #00b7e1;
}

.status__box:nth-of-type(3) dd {
  color: #00b7e1;
}

.status__box:nth-of-type(4) dt {
  color: #9f70df;
}

.status__box:nth-of-type(4) dd {
  color: #9f70df;
}

.status__box__inner {
  padding: 0 !important;
}

.status__box__inner>dl {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  margin: 0 14px;
  padding: 0 8px 12px;
}

.status__box__inner>dl dt {
  font-size: 3.6rem;
  letter-spacing: -0.025em;
  line-height: 1;
}

.status__box__inner>dl dd {
  margin-top: 14px;
}

.status__top,
.status__top2 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.status__top {
  min-height: 60px;
  padding: 12px 8px 0;
}

.status__top p,
.status__top2 p {
  color: #6b7280;
  font-size: 1rem;
  letter-spacing: -0.025em;
  white-space: nowrap;
}

.status__top p {
  padding: 0 16px;
}

.status__top button {
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  -webkit-appearance: none;
  appearance: none;
  background-color: initial;
  border: 0;
  border-radius: 50%;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  font-size: 2.8rem;
  justify-content: center;
  margin: 0;
  outline: 0;
  overflow: visible;
  padding: 12px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
}

/* // status__box */
.fw__section {
  grid-column: span 2 / span 2;
}


.popol__item>ul {
  width: calc(100% - 220px);
}

.popol__item>ul li dl {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 12px 0;
  font-size: 0.8rem;
}

.popol__item>ul li dl dt {
  overflow: hidden;
  position: relative;
  text-indent: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0.6;
}

.popol__item>ul li dl dd {
  color: #6b7280;
}


.icon {
  padding: 6px;
  width: 26px;
  height: 26px;
  display: block;
  margin-left: 6px;
  color: #333;
  border-radius: 100px;
  background: none;
}

.icon svg {
  fill: var(--main-color);
}

/*  */
.chart__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select__list {
  background: #f5f5f5;
  border-radius: 0.5rem;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}

.select__list:first-of-type {
  margin-right: 16px;
}

.item {
  float: left;
  font-size: 0.8rem;
  padding: 16px;
  cursor: pointer;
  width: 50px;
  text-align: center;
}

.item p {
  position: relative;
  z-index: 100;
}

.select__list>.selected__tab {
  position: absolute;
  -webkit-transition: all 0.25s ease-in-out 0s;
  box-shadow: rgb(0 0 0 / 8.5%) -0.0625rem 0.0625rem 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  background: white;
  height: 80%;
  width: 65px;
  border-radius: 0.5rem;
}

.select__list>.selected__tab.active1 {
  left: 8px;
}

.select__list>.selected__tab.active2 {
  left: 90px;
}

.select__list>.selected__tab.active3 {
  left: 172px;
}

.tbody {
  overflow-y: auto;
  height: 200px !important;
}

.gird__wrap {
  overflow-y: auto;
}

.gird__wrap>div {
  min-height: 412px;
  max-height: 412px;
}

.popol__item {
  display: flex;
  justify-content: space-between;
}

.grid__wrap,
.chart__wrap {
  margin-top: 24px;
}

.grid__wrap>div {
  height: 100%;
  min-height: 440px;
  max-height: 440px;
}

@media (max-width: 660px) {

  .status__box,
  .fw__section {
    grid-column: span 1 / span 1;
  }

  .chart__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .status__top2 {
    margin-bottom: 12px;
  }

  .select__list:first-of-type {
    margin-right: 12px;
  }

  .select__list__wrap {
    display: flex;
    align-items: center;
  }
}