.wrap__inner {
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  overflow: auto;
  min-width: 436px;
  max-width: 436px;
  /* 200px 추가 */
  max-height: 600px;
  padding: 32px;
}

.save__btn__wrap {
  position: absolute;
  bottom: 1px;
  height: 56px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  width: calc(100% - 32px);
  background: white;
  padding-top: 18px;
  z-index: 999;
}

.save__btn__wrap > button {
  width: 100%;
}

.popop__close__button {
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  position: absolute;
  right: 0px;
  top: -25px;
  background: var(--main-color);
  cursor: pointer;
}

.popop__close__button:hover {
  opacity: 1;
}

.popop__close__button:after {
  content: '';
  display: block;
  height: 14px;
  width: 4px;
  border-radius: 100px;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.popop__close__button::before {
  content: '';
  display: block;
  height: 14px;
  width: 4px;
  border-radius: 100px;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.site_selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.site_selector > button {
  margin-left: 16px;
}

.site_selector:last-of-type {
  margin-bottom: 0px;
}

.site__item {
  margin-bottom: 16px;
}

.site__item:last-of-type {
  margin-bottom: 0px;
}

/* .site__item > div:first-of-type {
  width: 30%;
} */
.site__item > div:nth-of-type(2) {
  width: 60%;
  margin-left: 16px;
}

.remove__btn {
  position: relative;
  display: block;
  max-width: 28px;
  max-height: 28px;
  min-width: 28px;
  min-height: 28px;
  cursor: pointer;
  border-radius: 8px;
  background: rgb(231, 231, 231);
}
.remove__btn:hover {
  background: rgb(243, 8, 8);
}

.remove__btn:hover:after,
.remove__btn:hover::before {
  background: rgb(240, 240, 240);
}

.remove__btn:after {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  content: '';
  display: block;
  width: 65%;
  height: 4px;
  background: #b6b6b6;
  border-radius: 100px;
}

.remove__btn:before {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  content: '';
  display: block;
  width: 65%;
  height: 4px;
  background: #b6b6b6;
  border-radius: 100px;
}

.site__item > .remove__btn {
  margin-left: 16px;
}

.site__icon__list {
  flex-direction: column;
}
.site__icon__list > div {
  width: 100%;
}
.site__icon__list > div:first-of-type {
  margin-bottom: 16px;
}

.site__icon__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site__icon__list > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.flex__row {
  flex-direction: row;
  align-items: center;
}
.flex__row > div:first-of-type {
  margin-bottom: 0px;
}

.site__icon {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 54px;
  min-height: 54px;
  max-width: 54px;
  max-height: 54px;
  padding: 12px;
  box-sizing: border-box;
}

.site__icon > img {
  width: 90%;
  height: 90%;
}
@media (max-width: 600px) {
  .wrap__inner {
    min-width: 336px;
    max-width: 336px;
    max-height: 550px;
  }
}
